.display-4 {
    color: white;
    background: gray;
    text-align: center;
}
p {
    font-size: 25%;
    text-align: center;
    background-color: aqua;
    padding-bottom: 36px;
}
body {
    background: grey;
    text-align: center;
}
#startGame{
    color:white;
    background: aqua;
    padding: 30px;
    font-size: 36px;
}
button {
    font-size: 36px;
    
}
.questions{
    font-size: 36px;
}
